@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    background-color: darkkhaki;
}

a{
    color: chocolate;
font-weight: 300;
font-size: 18px;
text-decoration: none;
}

h2{
    font-size: 18px;
    color: darkblue;
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
}


p{
    text-indent: 30px;
    word-spacing: 5px;
    text-align: justify;
    font-size: 16px;
    font-family: roboto;
}

.pie {
    font-weight: 600;
    color: brown;

}
